.navbar-nav .nav-link {
    font-weight: bold;
    color: black;
  }
  
.navbar .navbar-brand{
    color: black;
}

.navbar .nav-item{
    color: black;
}
.navbar {
    transition: background-color 0.3s ease;
  }
  



